@import url("https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap");

.typer {
  font-family: Nunito;
  font-size: 500%;
  color: #ff9b21;
}

.nun {
  font-family: Nunito;
  font-size: 500%;
}

.txt {
  font-family: Nunito;
  font-size: 10%;
  font-weight: 600;
}